html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

/* Loading New Artwork */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1000;
}

#popupMessage {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 35px;
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  align-items: center;
  gap: 20px;
  transform: translate(-50%, -50%);
  background-color: #ffffff40;
  text-align: center;
  justify-content: center;
}

#loadingDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
  width: 10%;
}

#loadingText {
  color: #fff;
  font-size: 1rem;
  position: relative;
  font-family: Monospace;
}

@media screen and (max-width: 768px) {
  #loadingDiv {
    width: 25%; /* Adjusted width for mobile devices */
  }

  #loadingText {
    font-size: 0.8rem;
  }

  #popupMessage {
    width: 75%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #loadingDiv {
    width: 15%;
  }

  #loadingText {
    font-size: 0.8rem;
  }

  #popupMessage {
    width: 75%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #loadingDiv {
    width: 15%;
  }

  #loadingText {
    font-size: 0.8rem;
  }

  #popupMessage {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #loadingDiv {
    width: 15%;
  }

  #loadingText {
    font-size: 0.85rem;
  }

  #popupMessage {
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #loadingDiv {
    width: 12%;
  }

  #loadingText {
    font-size: 0.9rem;
  }

  #popupMessage {
    width: 55%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #loadingDiv {
    width: 10%;
  }

  #loadingText {
    font-size: 1.1rem;
  }

  #popupMessage {
    width: 55%;
  }
}

/* Code for when device is on landscape mode - will override previous values */
@media only screen and (orientation: landscape) {
  #loadingDiv {
    width: 10%;
  }
}

/* Code for when device is on portrait mode - will override previous values */
@media only screen and (orientation: portrait) {
  #popupMessage {
    bottom: 55px;
  }
}
/* ---------------------- */
